/*
 * Comments are written as C++ style. 
 */
html {
  overflow-y: scroll;
  font-family: "Merriweather", serif;
}

body {
  margin: 8px auto;
  margin-bottom: 100px;
  clear: both;
  background: #fff;
  width: 700px;
}

#myPhoto {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

#myPhoto:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



p {
  text-align: justify;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 20px;
  background: #f6f6f6;
}

#myDuck {  
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("../img/duck.png");
  background-repeat:no-repeat;
  border: none;
  background-size: 75%;
  background-color: transparent;
  background-position: center;
}


.flagLink {
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Merriweather", serif;
}



.flagDiv {
  opacity: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid blueviolet;
  border-radius: 5px;
  padding: 5px;
  height: 450px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blueviolet;
  height: 50px;
  color: white;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: blueviolet;
  width: 100%;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background: #ddd;
  color: black;
}
