<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lotto</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav >
            <a href="me.html">Me</a>
            <a href="report.html">Report</a>
            <a href="about.html">About</a>
            <a href="flag.html">Flags</a>
            <a href="schools.html">Schools</a>
          </nav>
    </header>


<h1 style="margin-top: 100px;">The lottery Lotto</h1>
<h2 style="text-align: center;">The winning numbers are:</h2>
<p style="text-align: center; font-size: larger;"><%= lottoNum %></p>

<footer >
    <h6>Elias Haloun e-mail: elias.haloun0104@stud.hkr.se phone: +46xxxxxxxx</h6>
</footer>

</article>



<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
